@font-face {
  font-family: 'overpass';
  src: url(../static/fonts/overpass.ttf);
}

@font-face {
  font-family: 'overpass-bold';
  src: url(../static/fonts/overpass-bold.ttf);
}

@font-face {
  font-family: 'overpass-semi-bold';
  src: url(../static/fonts/overpass-semi-bold.ttf);
}

@font-face {
  font-family: 'quote';
  src: url(../static/fonts/quote.ttf);
}
