.register {
  .wrapper {
    @extend .flexbox;
    height: 100vh;

    &-container {
      padding: 20px;
      .heading {
        text-align: left;
      }

      hr {
        margin: 10px 0 50px 0;
      }

      .form {
        input {
          background: $darkerColor;
          border: 1pt solid $darkerColor;
        }

        button {
          width: 100%;
        }

        &-text {
          text-align: left;
          padding: 0 0 20px 0;
          color: red;
        }
      }
    }
  }
}
